@import url("https://fonts.googleapis.com/css2?family=Cinzel&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cinzel&family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	-ms-overflow-style: none; /* IE and Edge */
	scrollbar-width: none; /* Firefox */
}
*::-webkit-scrollbar {
	display: none;
}

body {
	font-family: "Poppins", sans-serif;
}

#hero {
	background-image: url(./images/hero-bg.png);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: top;

	height: 100vh;
	width: 100vw;
	object-fit: cover;
}
#hero nav {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	padding: 30px;
	align-items: center;
	margin-bottom: 10%;
}
#hero nav img {
	align-self: center;
	margin-left: 8vw;
}
#hero nav ul {
	width: 45vw;
	grid-column: 3/5;
	justify-items: start;
	justify-self: center;
	margin: 5px 0 0 0;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
}
#hero nav li {
	display: inline-block;
	list-style: none;
	font-family: "Cinzel", serif;

	font-weight: 400;
	font-size: 1.8vw;
}
#hero nav li a {
	text-decoration: none;
	color: white;
	text-transform: uppercase;
}
#hero nav li:hover {
	background-color: rgba(68, 67, 67, 0.174);
	letter-spacing: 0.1rem;
	transform: translateY(-5px);
}
#hero-txt {
	color: #fbeff2;
	text-transform: uppercase;
	margin: auto;
	text-align: center;
}
#hero-txt h4 {
	font-size: 2.7rem;
	font-weight: 400;
	letter-spacing: 0.305em;
}
#hero-txt h1 {
	font-weight: 500;
	font-size: 6.5rem;
	letter-spacing: 0.03em;
}
@media screen and (min-width: 600px) and (max-width: 991px) {
	#hero-txt {
		transform: translateY(25%);
	}
	#hero-txt h1 {
		font-size: 5.5rem;
	}
	#hero-txt h4 {
		font-size: 1.7rem;
	}
	#hero nav {
		margin-bottom: 20%;
	}
}
@media screen and (min-width: 420px) and (max-width: 600px) {
	#hero-txt {
		transform: translateY(20%);
	}
	#hero-txt h1 {
		font-size: 5.5rem;
	}
	#hero-txt h4 {
		font-size: 1.7rem;
	}
	#hero nav {
		margin-bottom: 20%;
	}
}
@media screen and (max-width: 420px) {
	#hero-txt {
		transform: translateY(30%);
	}
	#hero-txt h1 {
		font-size: 4.3rem;
	}
	#hero-txt h4 {
		font-size: 1.7rem;
	}
	#hero nav {
		margin-bottom: 20%;
	}
}
/* start about section styles */
#about-section {
	background-color: black;
	color: #fbeff2;
	width: 100%;
	height: 100vh;
	padding: 6%;
}
#about-section h2 {
	text-transform: uppercase;
	font-weight: 900;
	font-size: 2.25rem;
	letter-spacing: 0.03em;
	margin: 0 0 1.5% 7.78%;
}
#about-box {
	width: 80vw;
	height: 65vh;
	display: grid;

	grid-template-columns: auto auto auto;
	align-items: center;
	margin: 0 auto;
}
#line {
	width: 7px;
	height: 55vh;
	background-color: #fbeff2;
	justify-self: end;
}
#about-txt {
	width: 42vw;
	font-weight: 400;
	font-size: 1.5rem;
	line-height: 2.25rem;
	letter-spacing: 0.03em;
}
#about-txt p {
	padding: 20px;
}
#about-txt p:not(:first-child) {
	text-transform: uppercase;
	padding: 0 20px;
}
#about-box img {
	justify-self: center;
}
@media screen and (max-width: 991px) {
	#about-box {
		grid-template-columns: auto;
	}
	#line {
		display: none;
	}
	#about-txt {
		text-align: center;
		font-size: 1.2rem;
		width: 100%;
		grid-row: 2/3;
	}
	#about-txt p:not(:first-child) {
		font-size: 1rem;
		line-height: 1rem;
	}
	#about-box img {
		grid-row: 1/2;
	}
}
@media screen and (max-width: 600px) {
	#about-box {
		grid-template-columns: auto;
	}
	#about-box img {
		transform: scale(0.7);
	}
	#about-txt {
		text-align: center;
		font-size: 1rem;
		line-height: 1.5rem;
		width: 100%;
	}
}
/* start my work section styling */
#mywork-section {
	background-color: #bda2a9;
	color: #ffffff;
	width: 100%;
	height: 100vh;
	overflow: scroll;
	padding: 2% 6%;
}
#mywork-section h2 {
	text-transform: uppercase;
	font-weight: 900;
	font-size: 2.25rem;
	letter-spacing: 0.03em;
	padding: 2%;
	margin: 0 auto 3% auto;
	text-align: center;
	text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.card {
	background-color: #d7c7cb;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	transition: 0.5s;
}
.card:hover {
	box-shadow: 4px 4px 4px rgba(122, 110, 110, 0.25);
	transform: translateY(5px);
}

.card h5 {
	font-weight: 500;
	font-size: 1.5rem;
	line-height: 2.25rem;
	letter-spacing: 0.03em;
	text-transform: uppercase;
}
.card-text {
	font-weight: 400;
	font-size: 1rem;
	line-height: 1.5rem;
	letter-spacing: 0.03em;
	color: #4e4e4e;
}
.list-group-item {
	background-color: #d7c7cb;
}
.card-body a {
	color: black;
}
.card-body a:first-child {
	float: left;
}
.card-body a:last-child {
	float: right;
}
.card-body a:hover {
	text-decoration: none;
	color: white;
	background-color: #4e4e4e;
	border-radius: 5px;
	padding: 3px;
}
/* start footer styling */
footer {
	height: 60vh;
	background-color: #f5f5f5;
	padding: 3% 3% 4% 3%;
	text-align: center;
}
footer h2 {
	text-transform: uppercase;
	font-weight: 900;
	font-size: 2.25rem;
	letter-spacing: 0.03em;
	margin: 0 0 2% 0;
}
footer div {
	display: block;
	width: auto;
	margin: 10px auto;
}
footer div p {
	display: none;
}
footer a {
	text-decoration: none;
	color: black;
}
#dn {
	color: #bda2a9;
}
footer img {
	padding: 1px;
	transform: scale(0.8);
}
footer div:hover p {
	display: inline-block;
	/* margin-right: 5px; */
	color: black;
}
footer > p:first-of-type {
	margin-top: 45px;
	margin-bottom: 0;
}
